* {
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	background-color: black; 
	max-width: 100%;
	height: 100%;
}
body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("pics/beaches.gif");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
